.hero-section {
  width: 480px;
  height: 400px;
  padding: 118px 60px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-background(phone).png");
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 400px;

    background: $brand-color;
    padding: 118px 204px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main-background.png");
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: $brand-color;
    padding: 200px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main-background.png");
    background-position: center;
    background-size: cover;
  }

  &__article {
    color: $white;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 60px;
      font-weight: 900;
      color: $white;
      width: 696px;
      margin: auto;
      margin-bottom: 40px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  &__button {
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    color: $white;
    background: $accent;
    margin: 0 auto;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
}
