.section-clients {
  padding: 60px 0;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__article {
    width: 450px;

    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
      font-size: 36px;
      line-height: 42px;
      font-weight: bold;
      text-align: center;

      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    width: 480px;

    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
      display: flex;
      list-style: none;
      align-items: center;
    }

    & :not(:last-child) {
      margin-right: 30px;
    }
  }
  &__item {
    margin-bottom: 30px;
  }

  &,
  &__icon:hover {
    fill: currentColor;
  }

  &__link {
    display: flex;
    width: 210px;
    height: 92px;
    border: 1px solid $grey-icon;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      width: 170px;
      height: 92px;
      border: 1px solid $grey-icon;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      color: $accent;
      border: 1px solid $accent;
    }

    &:hover .section-clients__icon {
      fill: $accent;
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: $grey-icon;
  }
}
