.section-features {
  padding-top: 94px;

  @media screen and (max-width: 480px) {
    display: block;
    padding-top: 60px;
  }

  &__list {
    list-style: none;
    display: flex;

    @media screen and (max-width: 480px) {
      display: block;
    }

    &__item :not(:last-child) {
      margin-right: 30px;
    }
  }

  &__box {
    width: 270px;
    height: 120px;
    background-color: $grey-color;
    text-align: center;
    border-radius: 4px;
    padding: 25px 0;
    margin-bottom: 30px;

    @media screen and (max-width: 480px) {
      width: 450px;
    }
  }

  &__svg {
    width: 70px;
    height: 70px;
  }

  &__article {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 480px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__information {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: $text-color;

    @media screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }
}
